{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block navigation %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    {% if inventory %}
        Games<br>
        {% for game in inventory %}
        {{ game.name }} - {{ game.description }}
        <br>
        {% endfor %}
    {% else %}
        You have not added any games yet. 
    {% endif %}
    <a href="/add">Add game</a>
</div>
{% endblock %}
