{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block navigation %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    {% if inventory %}
        Games<br>
        {% for game in inventory %}
        {{ game.name }} - {{ game.description }} <a href="{% url 'shop:modify' game.id %}">modify</a>
        <a href="{% url 'shop:remove' game.id %}">remove</a>
        <br>
        {% endfor %}
    {% else %}
        You have not added any games yet. 
    {% endif %}
    <a href="{% url 'shop:add' %}">Add game</a>
    <br>
    Game Statistics
    <br>
    {% if statistics %}
        {% for sale in statistics %}
        {{sale.game.name}} - {{sale.gamePrice}} - {{sale.timeBought}} 
        <br>
        {% endfor %}
    {% endif %}    
</div>
{% endblock %}
