
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block navigation %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<script>
/* global $ */
$(document).ready(function() {
    'use strict';
    $(window).on('message', function(evt) {
        //Note that only messages from game.source are accepted
        var origin = evt.origin || evt.originalEvent.origin;
        var game_origin = '{{ game.source }}'.split('/');
        game_origin.pop();
        if (origin !== game_origin.join('/'))
            return;

        //Get data from sent message
        var data = evt.originalEvent.data;
        var messageType=data.messageType;
          
        if (messageType==='SCORE') {
            $.ajax({
                url:'',
                data: {'score': data.score},
                type: 'get',
            });
            $('#tableContainer').load("/play/{{ game.id }}");
        }
        /*
        else if (messageType==='SAVE') {
            //Create a new list item based on the data
            var newItem2 = '\n\t<li>' + (data.messageType || '') + '</li>';
            //Add the item to the beginning of the actions list
            $('#scores').prepend(newItem2);
        }
        else if (messageType==='LOAD_REQUEST') {
            //Create a new list item based on the data
            var newItem3 = '\n\t<li>' + (data.messageType || '') + '</li>';
            //Add the item to the beginning of the actions list
            $('#scores').prepend(newItem3);
        }
        */
        else if (messageType==='SETTING') {
            // set iframe size
            $('#game_iframe').css('width', data.options['width'])
            $('#game_iframe').css('height', data.options['height'])
        }
    });
});
</script>

<div class="container-fluid bg-1 text-center" style="heigth:100%;">
    <div class="row">
        <div class="col-md-8">
            <iframe class="bg-3" id="game_iframe" src="{{game.source}}"></iframe>
        </div>
        <div class="col-md-4" id="tableContainer">
            {% include "gameshop/game_scores.html" %}
        </div>
    </div>
</div>
{% endblock %}
