{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block navigation %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}.<br>
    {% endif %}
    {% if games %}
        Games<br>
        {% for game in games %}
        {{ game.name }} - {{ game.description }}
        {% if game in user.gamer.library.all %}
            <a href="#">Play</a>
        {% else %}
            <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
                {{ form }}
                <input type='submit' value='Buy'/>
            </form>
        {% endif %}
        <br>
        {% endfor %}
    {% else %}
        The store is empty at the moment.
    {% endif %}


</div>
{% endblock %}
