{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block navigation %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-1 text-center">
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}.<br>
    {% endif %}
    {% if games %}
        Games<br>
        {% for game in games %}
        {{ game.name }} - {{ game.description }}
        {% if game in user.gamer.library.all %}
        <a href="{% url 'shop:play' game.id %}">Play</a>
        {% elif user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                <input id="id_game_id" name="game_id" type="hidden" value="{{ game.id }}" />
                <input type='submit' value='Buy'/>
            </form>
        {% else %}
            <a href="{% url 'shop:index' %}">Login to buy games</a>
        {% endif %}
        <br>
        {% endfor %}
    {% else %}
        The store is empty at the moment.
    {% endif %}
</div>
{% endblock %}
